<section class="header d-flex-ac gap24">
    <img class="mobile-logo" src="./assets/img/mobile-header-logo.png" alt="">
    <h4 class="headline">Kanban Project Management Tool</h4>
    <div id="header-options" class="header-options d-flex-ac gap4">
        
    </div>
</section>
<div id="submenue" class="submenue d-flex-clm gap16 d-none">
    <a href="help.html" class="submenue-link submenue-help">Help</a>
    <a href="legal.html" class="submenue-link">Legal Notice</a>
    <a href="privacy.html" class="submenue-link">Privacy Policy</a>
    <a onclick="logOutUser()" href="#" class="submenue-link">Log out</a>
</div>